@tailwind base;
@tailwind components;
@tailwind utilities;
/* Simple base styles */
html, body, #__next {
  height: 100%;
}
body {
  @apply bg-gray-50 text-gray-900;
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}
